<div class="row">
  <div class="mt-4 col-12">
    <div class="">
      <div class="">
        <a [routerLink]="['recipe-details']" routerLinkActive="router-link-active"  class="list-group-item 
        cleafix d-flex justify-content-between"
      
         *ngFor="let item of recipe"   (click)="onRecipeItemClicked(item)">
           <div class="nameAndDescriptionDiv">
               <h4 class="list-group-item-heading">{{item.name}}</h4>
               <p class="list-group-item-text">{{item.content}}</p>
           </div>
           <span class="">
               <img src="{{item.image}}"  alt="recipe Image" style="height:80px" class="img-responsive">
           </span>
       </a>
      </div>
    </div>
   
  </div>
 
</div>