<div class="row">
    <img src="#" alt="image name">
</div>
<div class="row">
    <h1>Recipe name</h1>
</div>

<div class="row">
    <div class="button-group col-12">
        <button class="btn btn-info
        dropdown-toggle">Manage Recipe <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit ingredients</a>ici</li>
            <li><a class="dropdown-item"  href="#">Delete ingredients</a></li>
        </ul>
    </div>
</div>

<div class="row">
 Description
</div>

<div class="row">
 Ingredients
</div>