<app-server></app-server>
<app-recipe></app-recipe>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
        <app-recipe-list></app-recipe-list>
        </div>
       
        <div class="col-md-6">
            <app-recipe-details></app-recipe-details>
                
            </div>
             
    </div>
    
    <div class="row">
        <div class="col-6">
            <app-shopping-list (shoppingBtnClicked)="onDataAdded($event)"></app-shopping-list>
        </div>
       
        <div class="row col-6" >
            
        <app-recipe-item *ngFor="let item of recipeItem" [card] = "item"></app-recipe-item>
        </div>
    </div>


</div>

