

<!-- 
<div class="container">
  <div class="">
 <label class="mt-2">Enter Server Name</label>
<input class="form-control" type="text" [(ngModel)]= "serverName">

 <button class="btn btn-success col-md-2 form-control" (click)="onButtonClicked()"
 [disabled]="serverName === '' "
 >Add Server</button>
 <button  class="btn btn-warning col-md-2 form-control" (click)="serverName=''">Reset</button>

<div class="col-md-4 form-control message"
[ngClass]="{msgWhite: message=== ''}"

 *ngFor="let message of btnMessage">{{message}}

 </div>
</div>

</div> -->
